
@font-face {
    font-family: font1;
    src: url(https://s3-media0.fl.yelpcdn.com/assets/public/open-sans-regular.yji-aff9b80e384301f2ae0c.woff2);
  }
  @font-face {
    font-family: font2;
    src: url(https://s3-media0.fl.yelpcdn.com/assets/public/open-sans-semibold.yji-d3abae27d3eac73b40a5.woff2);
  }
  @font-face {
    font-family: font3;
    src: url(https://s3-media0.fl.yelpcdn.com/assets/public/open-sans-bold.yji-1145ff0b749fff2d31bb.woff2);
  }
  @font-face {
    font-family: font4;
    src: url(https://s3-media0.fl.yelpcdn.com/assets/public/poppins-bold.yji-9690ce6275ddc5645cfa.woff2);
  }
  @font-face {
    font-family: font5;
    src: url(https://s3-media0.fl.yelpcdn.com/assets/public/poppins-medium.yji-dc16a3592fdb61b620cc.woff2);
  }
  body,
  html {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    line-height: 1;
  }

input{
    cursor: none;
    border: none;
}
.banner-image {
    background: url(https://s3-media0.fl.yelpcdn.com/educatorphoto/xfKgg4ymAXsJLQB13m8baQ/o.jpg);
    background-size: cover;
    opacity: 1;
}
.gradient{
    position: relative;
        background: linear-gradient(90deg, #0006, #0000001a 55%);
        z-index: 1;
}
.nav-bar-desktop{
    background: linear-gradient(180deg, #000000b3, #0000004d 72.92%, #0000);
    padding: 24px 40px 0;
    width: 100%;
    box-sizing: border-box;
}
.banner-body{
    margin: 0 auto;
    width: 100%;
    padding: 0 40px;
    max-width: 1224px;
    z-index: 2;
    box-sizing: border-box;
}
.nav-bar-part1{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    min-width: 960px;
}
.nav-bar-part-2{
    display: flex;
    margin-left: 112px;
    padding-left: calc((100vw - 1144px) / 2 - 161px);
}
.yelp-logo-banner{
    margin-right: 32px;
        display: flex;
        padding-right: calc((100vw - 1144px) / 2 - 143px);
        align-items: center;
        min-width: 80px;
        box-sizing: border-box;
    }
    .nav-bar-part1-second-flex{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .nav-searchbar{
        display: flex;
        width: 100%;
        box-sizing: border-box;
        max-width: 669.19px;
        border-radius: 4px;
    }
    .nav-search-bar-input{
        display: flex;
        border-radius: 4px;
        width: 100%;
        border-spacing: 16px 0;
    }
    .nav-search-bar-icon{
        background-color: #e00707;
        padding: 10px 16px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 48px;
        box-sizing: border-box;
        border-radius: 4px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .nav-search-bar-input input{
        padding: 13px 16px;
        height: 48px;
        font-family: font1;
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
        color: #2d2e2f;
        box-sizing: border-box;
        width: 100%;
        border: none;
    }
    #color-black input{
        color: #000;
    }
    .bussiness-login{
        display: inline-block;
        margin-left: 16px;
        min-width: 620px;
    }
   .bussiness-login-flex{
    display: flex;
    align-items: center;
    height: 48px;
    justify-content: flex-end;
   }
   .business-item{
    padding: 8px;
        margin-right: 16px;
        margin-left: 2px;
        display: inline;
        align-items: center;
        box-sizing: border-box;
   }
   .business-item span{
    color: #fff;
    font-family: font2;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0px;
    text-align: left;
    line-height: 20px;
    display: flex;
    align-items: flex-end;
    gap: 4px;
   }
   .nav-login-btn{
    background: transparent;
        border: 2px solid rgba(200, 201, 202, 1);
        color: #fff;
        padding: 10px 16px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
    }
    .nav-login-btn span {
        font-family: font5;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        margin-top: 1px;
        letter-spacing: -0.2px;
    }
   .nav-signup-btn{
    color: #fff;
    margin-left: 12px;
    background-color: #e00707;
    padding: 10px 16px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: none;
   }
   .nav-signup-btn span{
    font-family: font5;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        margin-top: 1px;
        letter-spacing: -0.2px;
   }
   .nav-bar-part-2-item{
    padding: 16px 16px 20px;
        color: #fff;
        display: flex;
        align-items: center;
        font-family:font1;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
   }
   .banner-body-content{
    padding: 64px 0 200px;
    display: flex;
    gap: 14px;
   }
   .selection-container{
    margin-left: -10px;
   }
   .banner-body-texts{
    max-width: 480px;
   }
   .selection-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
   }
 .selection-button{
    width: 10px;
        height: 64.5px;
        background-color: #ffffff80;
        border-radius: 3px;
 }
 .stop-button{
    background: transparent;
        border: 1px solid rgba(200, 201, 202, 1);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        height: 44px;
        padding: 9px;
        width: 44px;
        margin: 12px 0 0;
 }
 .stop-button span{
    display: flex;
        justify-content: center;
        align-items: center;
    
 }
 .banner-body-texts-head h2{
    font-family: font3;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: -0.4px;
    line-height: 56px;
    color: #fff;
    margin-top: 8px;
    margin-bottom: 24px;
 }
 .garbage-door-service-btn{
    background-color: #e00707;
    padding: 12px 32px;
    color: #fff;
    display: flex;
    align-items: stretch;
    gap: 8px;
    font-size: 16px;
    font-weight: 500;
    font-family: font2;
    letter-spacing: -0.2px;
    line-height: 24px;
    border: none;
    height: 48px;
    box-sizing: border-box;
 }
 .stop-button{
    background: transparent;
        border: 1px solid rgba(200, 201, 202, 1);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        height: 44px;
        padding: 9px;
        width: 44px;
        margin: 12px 0 0;
 }